header {
  height: 10vh;
}
footer {
  height: 5rem;
  background-color: #f8f9fa;
  color: red;
}
footer a {
  color: rgb(79, 79, 79);
  font-size: 14px;

}

footer a:hover {
  color: rgb(203, 0, 103);
  text-decoration: none;
}
.main-nav {
  background-color: #f8f9fa;



}
.rilakkuma {
  width: 30%;
  height: auto;
}
.big-rilakkuma {
  width: auto;
  height: 25%;
}

.dictionary-words {
  border: 8px solid rgba(147, 147, 144, 0.3);
  box-shadow: 5px 6px rgba(147, 147, 144, 0.5);
  width: 250px;
  border-radius: 25px;
  padding: 5px 5px 5px 15px;
}

#articles a {
  text-decoration: none;

}
